# setting.config(UTF-8)

[token]
# 网易云音乐账号（手机号/网易邮箱）
account = 17155160726

# 密码，明文/MD5,建议自己去MD5在线加密网站给密码加密,然后填到下面
# 明文例如：123456abcd
# MD5例如：efa224f8de55cb668cd01edbccdfc8a9
password = 7120d85932fc6360e007323ba6071249

# 国家码，用于国外手机号登陆，国内为86
countrycode = 86


[setting]
# 接口API，开关的选项只有 True 和 False
# 感谢BecodReyes提供的演示API，仅供演示使用，如需使用本项目还请自行部署API，地址：https://github.com/ZainCheung/netease-cloud-api
api = https://netease-cloud-api.muir.fun/

# 密码是否需要MD5加密，如果是明文密码一定要打开
# true  需要, 则直接将你的密码（明文）填入password,程序会替你进行加密
# false 不需要, 那就自己计算出密码的MD5，然后填入上面的password内
md5Switch = false

# 是否开启多账号功能,如果打开将会忽视配置文件里的账号而从account.json中寻找账号信息
# 如果选择使用多账号,请配置好account里的账号和密码,即account和password,而sckey不是必需的,如果为空则不会进行微信推送
# 介于账号安全着想,account.json中的密码必须填写md5加密过的,请不要向他人透露自己的明文密码
peopleSwitch = false

# Server酱的密匙,不需要推送就留空,密匙的免费申请参考:http://sc.ftqq.com/
sckey = SCU126266Ta24db58ae39de7add41dc037d915eea45fadf2e405bd3
