# setting.config(UTF-8)

[token]
# 网易云音乐账号（手机号/网易邮箱）
account = 150********

# 密码，明文/MD5,建议自己去MD5在线加密网站给密码加密,然后填到下面
# 明文例如：123456abcd
# MD5例如：efa224f8de55cb668cd01edbccdfc8a9
password = bfa834f7de58cb650ca01edb********

# 国家码，用于国外手机号登陆，国内为86
countrycode = 86


[setting]
# 接口API，开关的选项只有 True 和 False
# 如需使用本项目还请自行部署API，地址：https://github.com/ZainCheung/netease-cloud-api
api =

# 密码是否需要MD5加密，如果是明文密码一定要打开
# true  需要, 则直接将你的密码（明文）填入password,程序会替你进行加密
# false 不需要, 那就自己计算出密码的MD5，然后填入上面的password内
md5Switch = false

# 是否开启多账号功能,如果打开将会忽视配置文件里的账号而从account.json中寻找账号信息
# 如果选择使用多账号,请配置好account里的账号和密码,即account和password,而sckey不是必需的,如果为空则不会进行微信推送
# 介于账号安全着想,account.json中的密码必须填写md5加密过的,请不要向他人透露自己的明文密码
peopleSwitch = false

# 推送方式选择
# 可选参数wxpusher、SCTurbo或留空
# wxpusher: 使用 WxPusher 推送
# SCTurbo: 使用 Server酱Turbo版 推送
# Bark: 使用 Bark 推送
# 留空：使用 Server酱免费版 推送或不推送
pushmethod =

# Server酱的密匙,不需要推送就留空
# 免费版密匙的免费申请参考:http://sc.ftqq.com/
# Turbo版的密钥获取:https://sct.ftqq.com/sendkey
# 免费版和Turbo版的密钥长度不一样，请注意检查，不可混用
sckey = SCU97783T70c13167b4daa422f4d419a765eb4ebb5ebc9********

# Wxpusher 推送参数，需要将pushmethod指定为wxpusher，应用和uid的免费申请参考:https://wxpusher.zjiecode.com/
appToken = AT_6kBmt***************************
wxpusheruid = UID_t***************************

# Bark 推送参数, 请参考https://github.com/Finb/Bark, 公用默认服务器为https://api.day.app/
barkServer = https://api.day.app
barkKey =